.destinations-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.destinations .item .img-item {
    width: 100%;
    height: 368px;
}

.destinations .item.tokyo .img-item {
    background: url(../img/tokyo-mobile.jpg);
    background-size: cover;
}

.destinations .item.osaka .img-item {
    background: url(../img/osaka-mobile.jpg);
    background-size: cover;
}

.destinations .item header h3 {
    margin: 24px 0;
}

.destinations .item p {
    margin-bottom: 24px;
}

.destinations .button {
    width: 100%;
}

/* BLOG - JAPAN DETAILS */
.destinations .item.arrival .img-item {
    background: url(../img/blog/blog-tokyo-details-arrival-mobile.png);
    background-size: cover;
}

.destinations .item.accommodation .img-item {
    background: url(../img/tokyo-mobile.jpg);
    background-size: cover;
}

.destinations .item .photo-caption {
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 0;
}

.destinations .item p.no-margin {
    margin-bottom: 0;
}

/* BLOG - OUTROS POSTS */
.destinations .item.hiroshima .img-item {
    background: url(../img/blog/blog-hiroshima-mobile.png);
    background-size: cover;
}

.destinations .item.kyoto .img-item {
    background: url(../img/blog/blog-kyoto-mobile.png);
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .destinations {
        width: 648px;
    }

    .destinations .item .img-item {
        width: 100%;
        height: 452px;
    }

    .destinations .item.tokyo .img-item {
        background: url(../img/tokyo-tablet-desk.jpg);
        background-size: cover;
    }

    .destinations .item.osaka .img-item {
        background: url(../img/osaka-tablet-desk.jpg);
        background-size: cover;
    }

    .destinations .button {
        width: 280px;
    }

    /* BLOG - JAPAN DETAILS */
    .destinations .item.arrival header {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .destinations .item.arrival .left-content {
        width: 312px;
    }

    .destinations .item.arrival .img-item {
        width: 312px;
    }

    /* BLOG - OUTROS POSTS */
    .destinations .item.hiroshima .img-item {
        background: url(../img/blog/blog-hiroshima-tablet.png);
        background-size: cover;
        background-position: center;
    }

    .destinations .item.kyoto .img-item {
        background: url(../img/blog/blog-kyoto-tablet.png);
        background-size: cover;
        background-position: right;
    }
}

@media screen and (min-width: 1024px) {
    .destinations {
        width: 900px;
    }

    .destinations .item .img-item {
        width: 100%;
        height: 452px;
    }

    /* BLOG - JAPAN DETAILS */
    .destinations .item.arrival .left-content {
        width: 438px;
    }

    .destinations .item.arrival .img-item {
        width: 438px;
    }

    .destinations .item.accommodation .img-item {
        background: url(../img/tokyo-tablet-desk.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 1440px) {
    .destinations {
        width: 1200px;
    }

    .destinations-items {
        flex-direction: row;
    }

    /* BLOG - JAPAN DETAILS */
    .destinations-items.blog {
        flex-direction: column;
    }

    .destinations .item.arrival .left-content {
        width: 588px;
    }

    .destinations .item.arrival .img-item {
        width: 588px;
    }

    .destinations .item.arrival .img-item {
        background: url(../img/blog/blog-tokyo-details-arrival-desktop.png);
        background-size: cover;
    }

    /* BLOG - OUTROS POSTS */
    
}