:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

section {
  width: 312px;
  margin: 0 auto 88px;
}

form {
  margin-top: 56px;
}

label {
  color: #8C8C8C;
}

input {
  width: 100%;
  margin-bottom: 64px;
  border: none;
  border-bottom: 3px solid #D9D9D9;
  outline: none;
  color: var(--text-primary-color);
}

input::placeholder {
  color: #8C8C8C;
}

input:focus {
  border-color: var(--secondary-color);
}

input:focus::placeholder {
  color: var(--text-primary-color);
}

textarea {
  width: 100%;
  margin-bottom: 32px;
  border-radius: 8px;
  border: 2px solid #D9D9D9;
  height: 90px;
  outline: none;
  color: var(--text-primary-color);
}

textarea:focus {
  border-color: var(--secondary-color);
}

.field:focus-within label {
  color: var(--text-primary-color);
}

form button {
  width: 100%;
}

section.hero {
  width: 100%;
  margin: 0;
}

section.bottom-hero {
  width: 100%;
  margin: 0;
}

.section-title {
  width: 280px;
  margin: 0 auto 32px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0;
  text-align: center;
}

.content-title {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0 0 24px;
}

.content-text {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

.content-text.center {
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px; 
}

.button {
  min-width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
  font-size: 20px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
  text-align: center;
  border: none;
}

.mobile-break {
  display: inline;
}

@media screen and (min-width:768px) {
  section {
    width: 648px;
  }

  .section-title {
    width: 100%;
    margin: 0 auto;
  }

  .section-title h2 {
    font-size: 32px;
  }

  .mobile-break {
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form button {
    width: 280px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 900px;
  }

  .button:hover {
    background-color: var(--primary-color);
  }

  form {
    width: 790px;
    margin: 56px auto 0;
  }

  form .tel-email-desktop input[type="tel"],
  form .tel-email-desktop input[type="email"] {
    width: 383px;
  }

  form .tel-email-desktop input[type="tel"] {
    margin-right: 19px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1200px;
  }
}